{{{modelComments}}}export class {{modelClass}} {{#modelParentNames}}{{#parentIsFirst}}extends {{/parentIsFirst}}{{^parentIsFirst}}, {{/parentIsFirst}}{{modelClass}}{{/modelParentNames}}{
{{#modelProperties}}
{{{propertyComments}}}{{&propertyName}}{{^propertyRequired}}?{{/propertyRequired}}: {{{propertyType}}};
{{/modelProperties}}
}
