/* tslint:disable */
/* eslint-disable */
{{#imports}}import { {{{typeName}}}{{#useAlias}} as {{{qualifiedName}}}{{/useAlias}} } from '{{{file}}}';
{{/imports}}

/* hello world */

{{{tsComments}}}{{#isObject}}{{>object}}{{/isObject
}}{{#isEnum}}{{>enum}}{{/isEnum
}}{{#isSimple}}{{>simple}}{{/isSimple
}}
